<%= form_tag(@action, method: :post) do %>

  <div>
    <%= label_tag(:content, "Enter your comment: ") %>
    <br/>
    <%= text_area_tag(:content, nil, rows: 15, cols: 25) %>
  </div>

  <%= submit_tag("Submit Comment") %>
<% end %>
