<h1> Welcome to Ruddit! </h1>

<%= link_to "Sign up!", users_new_path %>


<%= link_to "Add New Link!", links_new_path  %>


<div class="links">
  <% @links.each do |link| %>
    <%= render partial: "link", locals: {link: link } %>
  <% end %>
</div>
